In [1]:
import pandas as pd 
ri = pd.read_csv(r'C:\Users\iahme\Documents\722\Rhode Island Statewise Dataset\share\data\opp-for-archive\ri_statewide_2019_02_25.csv')
ri.head()

C:\Users\iahme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (6,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,reason_for_search,reason_for_stop,vehicle_make,vehicle_model
0,1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,...,NaN,NaN,False,False,False,NaN,NaN,Speeding,NaN,NaN
1,2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,...,NaN,NaN,False,False,False,NaN,NaN,Speeding,NaN,NaN
2,3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,...,NaN,NaN,False,False,False,NaN,NaN,Speeding,NaN,NaN
3,4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,...,NaN,NaN,False,False,False,NaN,NaN,Speeding,NaN,NaN
4,5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,...,NaN,NaN,False,False,False,NaN,NaN,Speeding,NaN,NaN

In [2]:
ri.shape

(509681, 24)

In [3]:
ri.isnull().sum()

raw_row_number             0
date                      10
time                      10
zone                      10
subject_race           29073
subject_sex            29097
department_id             10
type                       0
arrest_made            29073
citation_issued        29073
warning_issued         29073
outcome                35841
contraband_found      491919
contraband_drugs      493693
contraband_weapons    497886
contraband_alcohol    508464
contraband_other           0
frisk_performed           10
search_conducted          10
search_basis          491919
reason_for_search     491919
reason_for_stop        29073
vehicle_make          191564
vehicle_model         279593
dtype: int64

In [4]:
ri.dropna(subset=['subject_sex'], inplace=True)

In [5]:
ri.isnull().sum()

raw_row_number             0
date                       0
time                       0
zone                       0
subject_race               0
subject_sex                0
department_id              0
type                       0
arrest_made                0
citation_issued            0
warning_issued             0
outcome                 6763
contraband_found      462822
contraband_drugs      464596
contraband_weapons    468789
contraband_alcohol    479367
contraband_other           0
frisk_performed            0
search_conducted           0
search_basis          462822
reason_for_search     462822
reason_for_stop            0
vehicle_make          162525
vehicle_model         250553
dtype: int64

In [6]:
ri.dtypes

raw_row_number         int64
date                  object
time                  object
zone                  object
subject_race          object
subject_sex           object
department_id         object
type                  object
arrest_made           object
citation_issued       object
warning_issued        object
outcome               object
contraband_found      object
contraband_drugs      object
contraband_weapons    object
contraband_alcohol    object
contraband_other        bool
frisk_performed       object
search_conducted      object
search_basis          object
reason_for_search     object
reason_for_stop       object
vehicle_make          object
vehicle_model         object
dtype: object

In [7]:
ri['subject_sex'] = ri.subject_sex.astype('category')
ri['subject_race'] = ri.subject_race.astype('category')
ri['arrest_made'] = ri.arrest_made.astype('bool')
ri['citation_issued'] = ri.citation_issued.astype('bool')
ri['warning_issued'] = ri.warning_issued.astype('bool')
ri['frisk_performed'] = ri.frisk_performed.astype('bool')
ri['reason_for_stop'] = ri.reason_for_stop.astype('category')
ri['search_conducted'] = ri.search_conducted.astype('bool')
ri['contraband_found'] = ri.search_conducted.astype('bool')

In [8]:
print(ri.groupby(['reason_for_stop', 'subject_sex']).search_conducted.mean())

reason_for_stop                   subject_sex
APB                               female         0.165138
                                  male           0.255319
Call for Service                  female         0.042230
                                  male           0.092419
Equipment/Inspection Violation    female         0.040245
                                  male           0.070916
Motorist Assist/Courtesy          female         0.033133
                                  male           0.089802
Other Traffic Violation           female         0.038021
                                  male           0.059156
Registration Violation            female         0.054700
                                  male           0.103589
Seatbelt Violation                female         0.017746
                                  male           0.031705
Special Detail/Directed Patrol    female         0.018045
                                  male           0.010249
Speeding                          female         0.007738
                                  male           0.026630
Suspicious Person                 female         0.216216
                                  male           0.305970
Violation of City/Town Ordinance  female         0.060185
                                  male           0.073171
Warrant                           female         0.148148
                                  male           0.311111
Name: search_conducted, dtype: float64

In [9]:
print(ri.groupby(['zone', 'subject_sex']).search_conducted.mean())

zone  subject_sex
K1    female         0.016528
      male           0.038785
K2    female         0.013018
      male           0.031662
K3    female         0.023989
      male           0.052726
X1    female         0.005181
      male           0.013020
X3    female         0.013057
      male           0.030472
X4    female         0.026174
      male           0.059040
Name: search_conducted, dtype: float64

In [10]:
#Check the data type of 'search_conducted'
print(ri.search_conducted.dtype)

#Calculate the search rate by counting the values
print(ri.search_conducted.value_counts(normalize = True))

#Calculate the search rate by taking the mean
print(ri.search_conducted.mean())

bool
False    0.963041
True     0.036959
Name: search_conducted, dtype: float64
0.036959199640437465

In [11]:
#Search rate for female and male drivers
print('female = ' + str(ri[ri.subject_sex == 'female'].search_conducted.mean()))
print('male = ' + str(ri[ri.subject_sex == 'male'].search_conducted.mean()))

female = 0.018751239152648355
male = 0.04379217389811301

In [12]:
#Create a DataFrame of stops in which a search was conducted
searched = ri[ri.search_conducted == True]

#Calculate the overall frisk rate by taking the mean of 'frisk'
print('mean of frisk performed = ' + str(searched.frisk_performed.mean()))

#Calculate the frisk rate for each gender
print(searched.groupby('subject_sex').frisk_performed.mean())

mean of frisk performed = 0.5248282851030289
subject_sex
female    0.437983
male      0.538783
Name: frisk_performed, dtype: float64

In [13]:
#COMPARING SPEEDING OUTCOMES BY SEX

#Create a DataFrame of female drivers stopped for speeding
female_and_speeding = ri[(ri.subject_sex == 'female') & (ri.reason_for_stop == 'Speeding')]

#Create a DataFrame of male drivers stopped for speeding
male_and_speeding = ri[(ri.subject_sex == 'male') & (ri.reason_for_stop == 'Speeding')]

#Compute the stop outcomes for female drivers (as proportions)
print(female_and_speeding.outcome.value_counts(normalize=True))

#Compute the stop outcomes for male drivers (as proportions)
print(male_and_speeding.outcome.value_counts(normalize=True))

citation    0.954609
warning     0.039059
arrest      0.006332
Name: outcome, dtype: float64
citation    0.946763
warning     0.036167
arrest      0.017070
Name: outcome, dtype: float64

In [14]:
ri.drop(['vehicle_model', 'vehicle_make', 'contraband_other', 'outcome', 'warning_issued', 'citation_issued', 'type', 'time', 'raw_row_number', 'contraband_drugs', 'contraband_weapons', 'contraband_alcohol', 'search_basis', 'reason_for_search', 'department_id'], axis=1, inplace=True)

In [15]:
ri.dtypes

date                  object
zone                  object
subject_race        category
subject_sex         category
arrest_made             bool
contraband_found        bool
frisk_performed         bool
search_conducted        bool
reason_for_stop     category
dtype: object

In [16]:
#Create and show a dataframe where frisk was performed
ri2 = pd.DataFrame(ri)
ri2.head()

,date,zone,subject_race,subject_sex,arrest_made,contraband_found,frisk_performed,search_conducted,reason_for_stop
0,2005-11-22,X3,white,male,False,False,False,False,Speeding
1,2005-10-01,X3,white,male,False,False,False,False,Speeding
2,2005-10-01,X3,white,female,False,False,False,False,Speeding
3,2005-10-01,X3,white,male,False,False,False,False,Speeding
4,2005-10-01,X3,white,female,False,False,False,False,Speeding

In [17]:
#Label Encoding
from sklearn import preprocessing

#create the LabelEncoder object
le = preprocessing.LabelEncoder()

#convert the categorical columns into numeric
ri2['date'] = le.fit_transform(ri2['date'])
ri2['zone'] = le.fit_transform(ri2['zone'])
ri2['subject_race'] = le.fit_transform(ri2['subject_race'])
ri2['subject_sex'] = le.fit_transform(ri2['subject_sex'])
ri2['reason_for_stop'] = le.fit_transform(ri2['reason_for_stop'])


#display the initial records
ri2.head()

,date,zone,subject_race,subject_sex,arrest_made,contraband_found,frisk_performed,search_conducted,reason_for_stop
0,112,4,4,1,False,False,False,False,8
1,60,4,4,1,False,False,False,False,8
2,60,4,4,0,False,False,False,False,8
3,60,4,4,1,False,False,False,False,8
4,60,4,4,0,False,False,False,False,8

In [18]:
ri2.shape

(480584, 9)

In [19]:
#Drop linearly related values for LR
ri2.drop(['frisk_performed', 'search_conducted'], axis=1, inplace=True)

In [20]:
from sklearn.model_selection import train_test_split

y = ri2['contraband_found'].values
X = ri2.drop('contraband_found', axis=1).values #Drop values linearly related also

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [21]:
#Logistic regression
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

#fit the model with data
logreg.fit(X_train,y_train)

#Predictions
y_pred=logreg.predict(X_test)

C:\Users\iahme\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [22]:
#Model Evaluation

from sklearn import metrics

print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("Precision:", metrics.precision_score(y_test, y_pred))
print("Recall:", metrics.recall_score(y_test, y_pred))

Accuracy: 0.9633989013428033
Precision: 0.45314505776636715
Recall: 0.06783243658724059

In [23]:
#Check confidence values in equation of LR
logreg.coef_

array([[-2.23173814e-04, -1.10745421e-02, -1.74829490e-01,
         6.40523796e-01,  2.78508645e+00, -1.56715692e-01]])

In [24]:
#Calculate the Odds Ratio
import numpy as np 
np.exp(logreg.coef_)

array([[ 0.99977685,  0.98898655,  0.83960017,  1.89747451, 16.20121837,
         0.85494709]])

In [25]:
#Run head to verify negative relationship with what
ri2.head()

,date,zone,subject_race,subject_sex,arrest_made,contraband_found,reason_for_stop
0,112,4,4,1,False,False,8
1,60,4,4,1,False,False,8
2,60,4,4,0,False,False,8
3,60,4,4,1,False,False,8
4,60,4,4,0,False,False,8

In [26]:
#Unsupervised learning using KMeans

from sklearn.cluster import KMeans

model = KMeans(n_clusters = 2)
model.fit(ri)

labels = model.predict(ri) #Predict on the same data

In [27]:
#KMeans Evaluation
df = pd.DataFrame({'labels': labels, 'Arrested or not': ri['arrest_made']})

print(df)

#Cross Tabulation to check meaningful clusters
ct = pd.crosstab(df['labels'], df['Arrested or not'])
print(ct)

        labels  Arrested or not
0            0            False
1            0            False
2            0            False
3            0            False
4            0            False
5            0            False
6            0            False
7            0            False
8            0            False
9            0            False
10           0            False
11           0            False
12           0            False
13           0            False
14           0            False
15           0            False
16           0            False
17           0            False
18           0            False
19           0            False
20           0            False
21           0            False
22           0            False
23           0            False
24           0            False
25           0            False
26           0            False
27           0            False
28           0            False
29           0            False
...        ...              ...
509622       1             True
509623       1            False
509624       1            False
509625       1            False
509627       1            False
509628       1            False
509629       1            False
509630       1            False
509631       1            False
509632       1            False
509633       1            False
509634       1            False
509635       1            False
509636       1            False
509645       1            False
509647       1            False
509663       1            False
509664       1            False
509665       1            False
509666       1            False
509668       1            False
509670       1            False
509671       1            False
509672       1            False
509673       1            False
509675       1            False
509676       1            False
509677       1            False
509678       1            False
509679       1            False

[480584 rows x 2 columns]
Arrested or not   False  True
labels
0                225556   8848
1                238425   7755